.App {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
}
.content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background: white;
  box-shadow: 1px 3px 20px 0px rgba(40, 40, 40, 0.29);
  border-radius: 5px;
  padding: 46px 84px;
}

.kanji0 {
  font-size: 3rem;
}

.kanji1 {
  font-size: 3rem;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.onyomi {
  text-align: center;
}

.kunyomi {
  opacity: 0.7;
  text-align: center;
}

.heisig {
  font-size: 13px;
}

.notes {
  font-size: 10px;
}

.keyword {
  padding-bottom: 7px;
  font-size: 28px;
}

.components {
  font-size: 12px;
}

.toolbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px 0px;
}

.headerbar {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 10px 0px;
  font-size: 12px;
}

.next-button {
  height: 100%;
  width: 25%;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.prev-button {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.tool-button {
  padding: 4px 20px;
  cursor: pointer;
}



.indexinput {
  background: transparent;
  border: none;
  width: 40px;
}
